<% layout('../bases/boilerplate') -%>
<% stylesheet('stylesheets/notebook.css') -%>
<% script('javascripts/moment.min.js') -%>
<% script('javascripts/notebook.js') -%>

<script id="notepad-new" type="text/x-handlebars-template">
  <div class="notepad col-md-4 {{ padType }}">
    <div class="well yellow">
        <header class="header">
            <div class="view">
                <label>{{ padName }}</label>
            </div>
            <input autofocus="" placeholder="Enter A title for the Notepad." class="new-todo">
        </header>
        <section class="notepad-body">
            <header class="header">
                <input autofocus="" placeholder="Please enter a new Note." class="new-todo">
            </header>
            <section class="notes">
            </section>
        </section>
        <footer class="footer">
        <div class="row">
            <p class='note-date col-md-6'>Created {{ dateFormat noteDate }}</p>
            <p class='note-date col-md-6'>Updated {{ fromNow noteDate }}</p>
        </div>
        </footer>
    </div>
  </div>
</script>
<style></style>

<div class="page-header text-center container-fluid">
    <div class="row">
        <h1><span class="fa fa-anchor"></span>Notebook</h1>
        <p>The list of all my notepads.</p>
    </div>
    <div class="row">
        <a href="#" id="add_notebook" class="btn btn-primary" role="button">Add New Notepad</a>
    </div>
    <div id="notebook" class="row">
        <% notepads.forEach( function( notepad ){ %>
            <div class="notepad col-md-4">
                <div class="well yellow">
                    <header class="header">
                        <div class="view">
                            <label><%= notepad.name %></label>
                            <!-- <button class="destroy"></button> -->
                        </div>
                        <input autofocus="" placeholder="<%= notepad.name %>" class="new-todo edit">
                    </header>
                    <section class="notepad-body">
                        <header class="header">
                            <input autofocus="" placeholder="Please enter a new Note." class="new-todo">
                        </header>
                        <section class="notes">
                            <input class="toggle-all" type="checkbox">
                            <label for="toggle-all">Mark all as complete</label>
                            <ul class="todo-list">
                                <li data-id="5443b4dc-0455-42d0-abb7-6db7873f644f">
                                    <div class="view">
                                        <input type="checkbox" class="toggle">
                                        <label>nothing</label>
                                        <!-- <button class="destroy"></button> -->
                                    </div>
                                    <input value="nothing" class="edit">
                                </li>
                                <li data-id="5443b4dc-0455-42d0-abb7-6db7873f644f">
                                    <div class="view">
                                        <input type="checkbox" class="toggle">
                                        <label>nothing</label>
                                        <!-- <button class="destroy"></button> -->
                                    </div>
                                    <input value="nothing" class="edit">
                                </li>
                            </ul>
                        </section>
                    </section>
                    <footer class="footer">
                    <div class="row">
                        <p class='note-date col-md-6'>Created <%=:notepad.date_created | dateFormat %></p>
                        <p class='note-date col-md-6'>Updated <%=:notepad.date_created | fromNow %></p>
                    </div>
                    </footer>
                </div>
              </div>
        <% }); %>
    </div>
</div>